.topbox {

  .list {
    margin-top: 20px;
    .item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 15px;
      .user {
        display: flex;
        align-items: center;
        gap: 10px;
        img {
          height: 40px;
          width: 40px;
          border-radius: 50%;
          object-fit: cover;
        }

        .user-infor {
          display: flex;
          flex-direction: column;          
          gap: 8px;
          .user-name {
            font-size: 14px;
            font-weight: 500;
          }
          .user-email {
            font-size: 12px;
          }
        }
      }

      .amount {
        color: lightgreen;
      }
    }
  }
}